{% load static %}

<!DOCTYPE html>

<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block styles %}
    {% endblock styles %}
    <title>{% block title %}Название страницы{% endblock title %}</title>   
</head>
<body>

    {% include "components/header.html" %} 
    {% include "components/navbar.html" %} 

    <div>
        {% block main %}
        {% endblock main %}
    </div> 

    {% include "components/footer.html" %} 

    {% block script %}
    {% endblock script %}
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>